html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  /*height:100%;*/
  margin: 0px;
  padding: 0px;
}

.body-wrapper {
  height: 100%;
  background: whitesmoke; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3f51b5, whitesmoke); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3f51b5, whitesmoke); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3f51b5, whitesmoke); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3f51b5, whitesmoke); /* Standard syntax */
}

/* Sidenav and side nav list items*/
md-sidenav {
  background-color: whitesmoke;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}

.sidenav-title {
  padding-left: 10px;
}

md-list-item > button {
  width:100%;
  text-align:left !important;
}

md-list .md-button.selected {
  background-color: #E0E0E0;
  color: #2196F3;
  font-weight: bold;
}

/* Chat window styles on Home */
.chat-header {
  color: white;
}

.chat-bubbles {
    background-color: white;
    margin-bottom: 5px;
    height: calc(100vh - 165px);
    overflow: auto;
}

.chat-message-form {
  background-color: white;
}

.chat-message {
    display: -webkit-inline-box;
}

.chat-sender {
    padding: 0 4px;
}
.chat-text {
    border-radius: 10px;
    max-width: 300px;
    color: white;
    background-color:#2196F3;
}

.chat-text.left {
    background-color: #9E9E9E;
}

.chat-message-form md-input-container {
    margin: 10px 0 0 0;
}

/* User Sign Up and Sign In */
.userForm {
  min-width: 310px;
  background-color: white;
}

.signin-text {
  background-color: #8C9EFF;
  margin: -8px;
}

.error-message {
  margin-top: 20px;
  font-weight: bold;
  color: red;
}
