<div layout="row">
  <md-sidenav ng-click="home.toggleList()" md-component-id="left">
    <div class="sidenav-title">
      <h3>RVA.js Chat Service</h3>
    </div>

    <md-list>
      <div class="user-list-header">Registered Users:</div>
      <md-list-item ng-repeat="user in home.users">
        {{user.username}}
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div layout="column" layout-fill class="chat-content">

    <div class="chat-header" layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-button class="md-icon-button" ng-click="home.toggleList()" aria-label="Show User List">
          <ng-md-icon icon="group"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="home.refreshChats()" aria-label="Sign Out">
          <ng-md-icon icon="refresh"></ng-md-icon>
        </md-button>
      </div>
      <div layout="row" layout-align="start center">
        <div>Signed in as: {{home.localUser.username}}</div>
        <md-button class="md-icon-button" ng-click="home.logout()" aria-label="Sign Out">
          <ng-md-icon icon="logout"></ng-md-icon>
        </md-button>
      </div>
    </div>

    <div layout="column" layout-margin class="chat-bubbles md-whiteframe-z2">
      <div layout="column" layout-padding layout-align="{{msg.senderUser.username !== home.localUser.username ? 'start start' : 'start end'}}"
        class="chat-message" ng-repeat="msg in home.chats">
        <div class="chat-sender">{{msg.senderUser.username}}</div>
        <div class="chat-text" ng-class="{'left' : msg.senderUser.username !== home.localUser.username }">{{msg.message}}</div>
      </div>
      <div id="bottom"></div>
    </div>

    <div layout="column" layout-margin class="chat-message-form">
      <form novalidate ng-submit="home.submit()">
        <div layout="row" layout-align="center center">
          <md-input-container flex md-no-float class="md-block">
            <input focus-on="setFocus" placeholder="Type Message Here" md-maxlength="140" maxlength="140" name="newMessage" ng-model="home.newMessage" />
          </md-input-container>
          <md-button class="md-primary md-fab md-mini" type="submit" aria-label="Send Message">
            <ng-md-icon icon="send"></ng-md-icon>
          </md-button>
        </div>
      </form>
    </div>

  </div>
</div>
