html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  /*height:100%;*/
  margin: 0px;
  padding: 0px;
}

.body-wrapper {
  height: 100%;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin-left: 10px;
}

.userForm {
  min-width: 310px;
}
.header-text {
  font-size: small;
}

md-list-item > button {
  width:100%;
  text-align:left !important;
}

md-list .md-button.selected {
  color: #2196F3;
  font-weight: bold;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}

.sidenav-title {
  padding-left: 10px;
}

.chat-content {
  background-color: whitesmoke;
}

.chat-container {
    height: 500px;
}

.chat-bubbles {
    background-color: white;
    margin-bottom: 5px;
    min-height: 400px;
    overflow: auto;
}

.chat-message-form {
  background-color: white;
}

.chat-message {
    display: -webkit-inline-box;
}

.chat-sender {
    padding: 0 4px;
}
.chat-text {
    border-radius: 10px;
    max-width: 300px;
    color: white;
    background-color:#2196F3;
}

.chat-text.left {
    background-color: #9E9E9E;
}

.chat-message-form md-input-container {
    margin: 10px 0 0 0;
}

.signin-text {
  background-color: #2196F3;
  margin: -8px;
}

.error-message {
  margin-top: 20px;
  font-weight: bold;
  color: red;
}
